#candidature {
    text-align: center;
}
#sendButton{
  text-align: center;
}
.row{
  margin-left: 0;
  margi-right: 0;
}

.label{
  text-align: left !important;
}
.form-horizontal .control-label {
  text-align: left !important; /* !important added for priority in SO snippet. */
}
